<%- include("partials/header"); -%>
    <div class="contact-container">
        <h1 class="contact-heading">Contact Me</h1>
        <div class="contact-info">
            <p>Name: Sri Hari L</p>
            <p>Phone: +91 7892221600</p>
            <p>Email: <a href="mailto:lsrihari22@gmail.com">lsrihari22@gmail.com</a></p>
            <p>LinkedIn: <a href="https://www.linkedin.com/in/srihari-l/"
                    target="_blank">https://www.linkedin.com/in/srihari-l/</a></p>
        </div>
    </div>
    <%- include("partials/footer"); -%>