root {
  --bg-color: white;
  --text-color: rgba(29, 98, 227, 0.844);
  --title-color: rgba(49, 103, 229, 0.929);
}

@media
(prefers-color-scheme: dark) {
  :root {
    --bg-color: #EDEDE9 ;
    --text-color: #000000;
    --title-color: #14213D ;
  }
}

body {
  background-color: var(--bg-color);
  font-family: 'Ubuntu', sans-serif;
  color: var(--text-color);
}

html {
  min-height: 100%;
  position: relative;
}

.container-fluid {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #44c940; /* Add a background color */
}

.navbar {
  padding-top: 10px;
  float: none;
  padding-bottom: 10px;
  background-color: #14213D; /* Change the background color */
  border:none;
  border-radius: 0rem;
  margin-bottom: 2rem;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
}
.navbar-right{
  color: #248a22;
}


.navbar-nav li p {
  color: #000000; /* Set the nav link text color */
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
  color: #FCA311; /* Change the link color on hover or when active */
}

.navbar-nav {
  margin-right: 20px; /* Add some spacing between the links */
}

.navbar-brand {
  color: #FCA311; 
  /* font-family: "Audiowide", sans-serif; */
  font-family: 'Montserrat', sans-serif;
  /* font-family:  sans-serif; */
  font-size: 30px;
  text-decoration: wavy ;
  /* //font-size: 24px; */
}


.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #222222;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

.new-blog-button {
  background-color: #87bf89c9; /* Set the background color */
  color: white; /* Set the text color */
  padding: 10px 20px; /* Add padding around the button */
  border: none; /* Remove the default button border */
  text-decoration: none; /* Remove any text underline */
  cursor: pointer; /* Add a pointer cursor on hover */
  font-size: 16px; /* Set the font size */
  border-radius: 2rem; /* Add rounded corners */
}
.compose{
  margin: 2rem;
}

.new-blog-button:hover {
  background-color: #f2f2f2; 
}

.postTitle{
  color: var(--title-color); 
  font-family: 'Roboto Flex', sans-serif;
}

 .gg-add-r {
 box-sizing: border-box;
 position: relative;
 display: block;
 margin-left: 3rem;
 width: 22px;
 height: 22px;
 border: 2px solid;
 color: #0b0b0b;
 background-color: #58d05ac1;
 transform: scale(var(--ggs,2));
 border-radius: 4px
}

.gg-add-r::after,
.gg-add-r::before {
 content: "";
 display: block;
 box-sizing: border-box;
 position: absolute;
 width: 10px;
 height: 2px;
 background: currentColor;
 border-radius: 5px;
 top: 8px;
 left: 4px
}

.gg-add-r::after {
 width: 2px;
 height: 10px;
 top: 4px;
 left: 8px
} 